@font-face {
  font-family: "Odin";
  src: url(Norse-Bold.otf);
}

@font-face {
  font-family: "Lato";
  src: url(Lato-Regular.ttf);
}

body {
  font-family: "Lato", sans-serif;
}

h2 {
  font-family: "Lato", sans-serif;
}

p {
  font-family: "Lato", sans-serif;
}

.right-container p {
  font-family: "Lato", sans-serif;
}
/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Language: css */
h1 {
  font-family: "Odin";
  text-decoration: uppercase;
  color: white;
  font-size: 50px;
}

.logo {
  width: 100px;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo-container {
  background-color: rgba(0, 0, 0, 0.683);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.left-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url(images/joshua-glass-MzsEZsOJsYs-unsplash.jpg);
  background-size: cover;
  min-width: 500px;
}

body {
  background-color: #f5f5f5;
}

p {
  font-family: "Odin";
  color: black;
  font-size: 20px;
  max-width: 500px;
  margin-bottom: 2rem;
  padding-left: 2rem;
}

.right-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding: 2rem;
  height: 100vh;
  background-color: rgb(255, 255, 255);
  width: 100%;
}

.form-container {
  background-color: rgba(245, 245, 245, 0.387);
  width: 100%;
  border: rgba(0, 0, 0, 0.923);
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 600px;
  padding: 2rem;
}

/* .form-group input[type="text"]:not(:focus):invalid,
.form-group input[type="email"]:not(:focus):invalid,
.form-group input[type="tel"]:not(:focus):invalid {
  border: 1px solid #d55c5f;
  color: #d55c5f;
  box-shadow: none;
}

input[type="password"]:not(:focus):invalid {
  border: 1px solid #f91317;
  color: #d55c5f;
  box-shadow: none;
} */

.form-group input[type="text"]:not(:focus):not(:placeholder-shown):invalid {
  border: 1px solid #d55c5f;
  color: #d55c5f;
  box-shadow: none;
}

.form-group input[type="text"]:valid,
.form-group input[type="email"]:valid,
.form-group input[type="password"]:valid,
.form-group input[type="tel"]:valid {
  border: 1px solid #8adc3d;
  color: black;
  box-shadow: none; /* Remove default red glow in Firefox */
}

.form-group input[type="text"]:focus,
.form-group input[type="email"]:focus,
.form-group input[type="password"]:focus,
.form-group input[type="tel"]:focus {
  border: 1px solid #161617;
  box-shadow: none; /* Remove default red glow in Firefox */
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 220px;
  margin-bottom: 1rem;
}

input {
  border-radius: 5px;
  padding: 0.5rem;
}

input:focus {
  outline: none !important;
  border: 1px solid green;
  box-shadow: 0 0 10px #719ece;
}

label {
  color: rgba(0, 0, 0, 0.678);
  font-size: 12px;
  text-transform: uppercase;
}

h2 {
  margin: 2rem;
}

.submit-button {
  background-color: #161617;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 1rem;
  margin: 1rem;
  width: 200px;
  font-size: 12px;
  cursor: pointer;
  margin-left: 0rem;
}
